body {
  margin: 0;
  background-color: #221f1f21;
  color: #ffff;
  text-align: center;
}
body > h1,
h2 {
  color: black;
}
.main {
  text-align: center;
  width: auto;
  margin: 100px;
  padding: 100px;
  border: 2px solid black;
}
span {
  display: block;
}

.button {
  border: solid black 2px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#blue {
  background-color: blue;
}
#white {
  background-color: white;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
